absl-py
annotated-types
anyio
astunparse
certifi
charset-normalizer
click
fastapi
flatbuffers
gast
google-pasta
grpcio
h11
h5py
idna
keras
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
ml_dtypes
namex
numpy
opt_einsum
optree
packaging
pillow
protobuf
pydantic
pydantic_core
Pygments
python-multipart
requests
rich
setuptools
six
sniffio
starlette
tensorboard
tensorboard-data-server
tensorflow
termcolor
typing-inspection
typing_extensions
urllib3
uvicorn
Werkzeug
wheel
wrapt